// Use this file to store all of the private credentials and connection details

// WiFi configuration
#define SECRET_SSID ""                  // SSID
#define SECRET_PASS ""   // WiFi password

// ONLY if static configuration is needed

#define IP {192, 168, 1, 200}                    // IP address
#define SUBNET {255, 255, 255, 0}                // Subnet mask
#define DNS {1, 1, 1, 1}                     // DNS
#define GATEWAY {192, 168, 1, 1}               // Gateway


// InfluxDB cfg
#define INFLUXDB_URL ""
#define INFLUXDB_TOKEN ""
#define INFLUXDB_ORG ""              
#define INFLUXDB_BUCKET ""            

// MQTT access
#define MQTT_BROKERIP ""           // IP address of the machine running the MQTT broker
#define MQTT_CLIENTID ""               // client identifier
#define MQTT_USERNAME ""              // mqtt user's name
#define MQTT_PASSWORD ""                 // mqtt user's password
#define MQTT_PORT 1883

// MySQL access
#define DB_IP {149, 132, 178, 180}              // IP address of the machine running MySQL
#define DB_USER ""                  // db user
#define DB_PASS ""                     // db user's password
#define DB_PORT 3306
#define DB_NAME ""

//#define M_WATER
#define M_DHT
//#define M_MOISTURE
#define M_LIGHT
#define M_BTN
#define M_LED
